@page "/"

<h4>CG.Forms.Blazor._Syncfusion Demo</h4>
<p>This application demonstates some of the capabilities of the library.</p>

<div class="container">
    <h6>Capabilities</h6>
    <ul style="list-style-type:square">
        <li>CG.Forms.Blazor._Syncfusion is open-source, free to use, fast and reliable.</li>
        <li>CG.Forms.Blazor._Syncfusion is written in <strong>C#</strong>, <strong>ASP.NET</strong> and <strong>Blazor</strong>.</li>
        <li>CG.Forms.Blazor._Syncfusion leverages <strong>CODEGATOR</strong> packages, for a proven, standards driven architecture.</li>
        <li>CG.Forms.Blazor._Syncfusion is built on top of <strong>.NET 5.x</strong>, so it runs on multiple operating systems, without fuss.</li>
        <li>CG.Forms.Blazor._Syncfusion leverages the <strong>Syncfusion</strong> library without modifications.</li>
        <li>CG.Forms.Blazor._Syncfusion users are, on average, 13.86% thinner after using the library. <small>(Ok, we made that one up)</small></li>
    </ul>
</div>